<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{.Header}}
    
    <h2>Who am I?</h2>
    <p>I'm a software developer working on geospatial web applications. I like programming, I'm curious about math and I have a deep, abiding love for electronic music.</p>

    <h2>What am I doing here?</h2>
    <p>This is my blog, a place to collect my thoughts and share some things that are interesting to me.</p>

    <h2>What's with the name?</h2>
    <p>Peace Fixation is the title of an old house tune by Freaky Chakra. I love the tune, it's a wild mess of polyrhythms and atmosphere, and I love the name. Peace Fixation. Fixated on peace. We could do worse!</p>
    <p>Here's the <a href="https://www.discogs.com/release/145890-Freaky-Chakra-Peace-Fixation">release</a> on Discogs, my favourite discography website.</p>
</body>
</html>
