<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/links.js" defer></script>
</head>
<body>
    {{.Header}}

    <div id="list-container">
        <ul class="list">
            {{range .Links}}
                {{ .Fragment }}
            {{end}}
            <li id="no-items"><p></p></li>
        </ul>
        <div id="list-filter">
            <div id="tags"></div>
            <div id="search"></div>
        </div>
    </div>
</body>
</html>
