{{define "music-card.html"}}
<div class="item">
  {{if eq .embed "link-plain"}}
    {{render "embed/link-plain.html" .}}
  {{else if .embed}}
  <div class="embed-meta">
    <a href="/{{.outputPath}}">{{if .icon}}{{render (printf "icon-%s.html" .icon) .}}{{end}}<span class="title">{{.title}}</span></a>
    {{if .artist}}<span class="artist">{{.artist}}</span>{{end}}
  </div>
    {{render (printf "embed/%s.html" .embed) .}}
  {{else}}
    <a href="/{{.outputPath}}">
      {{if .icon}}{{render (printf "icon-%s.html" .icon) .}}{{end}}<span class="title">{{.title}}</span>
    </a>
  {{end}}
  {{template "tag-links.html" .}}
</div>
{{end}}
