{{define "sitemap-node.html"}}
<li>
  {{if .Children}}
  <details data-path="{{.OutputPath}}">
    <summary>
      {{if .Icon}}{{render (printf "icon-%s.html" .Icon) .}}{{end}}
      {{if .OutputPath}}<a href="/{{.OutputPath}}">{{.Title}}</a>{{else}}<span>{{.Title}}</span>{{end}}
    </summary>
    <ul>
      {{range .Children}}{{template "sitemap-node.html" .}}{{end}}
    </ul>
  </details>
  {{else}}
  <a href="{{if .URL}}{{.URL}}{{else}}/{{.OutputPath}}{{end}}"{{if .URL}} target="_blank" rel="noopener noreferrer"{{end}}>
    {{if .Icon}}{{render (printf "icon-%s.html" .Icon) .}}{{end}}{{.Title}}
  </a>
  {{end}}
</li>
{{end}}
